config/nvim/.config/nvim/plugged
config/iterm/themes

# prevent adding private projects
projects/*
!projects/install.sh
!projects/.aliases
!projects/hetwebbureau

# prevent adding drivers repository
drivers/*