#!/usr/bin/env bash
alias hetwebbureau="cd ~/Development/hetwebbureau"
alias hw="hetwebbureau"

alias dotfiles='tmuxinator start dotfiles'
alias react-cli='tmuxinator start react-cli'
alias web-cli='tmuxinator start web-cli'
alias web-cli-interpreter='web-cli-interpreter'
alias private-repositories-installer='tmuxinator start private-repositories-installer'
alias private-drivers-installer='tmuxinator start private-drivers-installer'
