#!/usr/bin/env bash
alias hetwebbureau="cd ~/Development/hetwebbureau"
alias hw="hetwebbureau"

alias dotfiles='tmuxinator start dotfiles'
alias react-cli='tmuxinator start react-cli'
alias webcli='tmuxinator start webcli'
alias webcli-interpreter='tmuxinator start webcli-interpreter'
alias webcli-todo='tmuxinator start webcli-todo'
alias private-repositories-installer='tmuxinator start private-repositories-installer'
alias private-drivers-installer='tmuxinator start private-drivers-installer'
