#!/bin/bash

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="gsettings set org.gnome.desktop.background show-desktop-icons false"
alias showdesktop="gsettings set org.gnome.desktop.background show-desktop-icons true"

# Lock the screen (when going AFK)
alias afk="gnome-screensaver-command -l"
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
